@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #514438;
    background-color: #F2E4D8;
}

/* header style */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #514438;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C4A689;
}

#logo {
    cursor: pointer;
    text-decoration: none;
    padding-left: 20px;

    display: flex;
    align-items: center;
    gap: 10px;
}

#logo img {
    height: 80px;
}

nav {
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #514438;
    font-size: 150%;
    font-weight: bold;
    transition: all 400ms ease;
}

nav ul li a:hover {
    border-bottom: 1px solid #F2E4D8;
    color: #F2E4D8;
}

.active {
    border-bottom: 1px solid #514438;
}

/* main style */

#main-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-text,
#main-text h2 {
    color: #fff;
}

#main-image {
    height: 800px;
    width: 100%;
    background: url("../images/main-image.jpeg") no-repeat center center;
    background-size: cover;

    /* animates zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for the hero image */
@keyframes main-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#main-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding: 40px;
    background-color: rgba(81, 68, 56, .7);
    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* about us */

#about-us {
    background-color: #514438;
    padding-bottom: 60px;
}

.about {
    display: flex;
    height: 600px;
}

#about-image1 {
    background: url(../images/about-1.jpeg) no-repeat center center;
    background-size: contain;
}

#about-image2 {
    background: url(../images/about-2.jpeg) no-repeat center center;
    background-size: contain;
}

#about-image3 {
    background: url(../images/about-3.jpeg) no-repeat center center;
    background-size: contain;
}

.about-image {
    width: 50%;
}

.about-text {
    background-color: #514438;
    color: #F2E4D8;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
}

.about-text p {
    padding: 0px 80px;
    font-size: 200%;
}

.about-text span {
    font-weight: bold;
}

#about-us h2 {
    padding: 40px;
    display: flex;
    justify-content: center;
    color: #F2E4D8;
}

/* our classes */

#our-classes h2 {
    padding: 40px;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    text-align: center;
}

table th {
    background-color: #C4A689;
    border: 1px solid #514438;
    font-size: larger;
}

table td {
    border: 1px solid #514438;
    font-weight: 600;
}


#our-classes>div>button>a {
    text-decoration: none;
    color: #F2E4D8;
}

#our-classes>div>button>a:hover {
    color:#514438;
}


.dark {
    background-color: #C4A689;
}

.light {
    background-color: #F2E4D8;
}

.Join-classes {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.register-button {
    margin: 10px;
    text-decoration: none;
    border-radius: 2px;
    padding: 10px 30px;
    text-align: center;
    font-size: 125%;
    background-color: #514438;
    color: #F2E4D8;
    float: right;
    transition: all 400ms ease;
    cursor: pointer;
    font-weight: bold;
}

.register-button:hover {
    background-color: #C4A689;
    color: #514438;
}


/* footer */

footer {
    display: flex;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    background-color: #C4A689;
    margin-top: 20px;
}


.footer-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.footer-right i {
    font-size: 220%;
    padding: 1%;
    margin: 5%;
    color: #514438;
}

.footer-left {
    margin-left: 40px;
    text-align: left;
}

.footer-left a {
    text-decoration: none;
}


/* gallery */

#photos  {
    margin-top: 136px;
    line-height: 3;
    column-count: 4;
    column-gap: 1%;
}

#photos img {
    width: 100%;
}

#gallery-footer {
    margin-top: 0;
}

/* contact */

.form-section {
    margin-top: 120px;
    background: url("../images/contact-image2.jpeg")  center center no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
}

.contact-form {
    margin:150px 10% 0 0;
    color: #514438;
    background-color: rgba(196, 166, 137, 0.7);
    max-width: 400px;
    position: absolute;
    left:10%;
    padding: 30px;
}

.contact-form h2 {
    display: flex;
    height: 60px;
    text-align: center;
}

.contact-form label {
    font-weight: 600;
}

.text-input {
    background: transparent;
    color: #514438;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #F2E4D8;
    border-radius: 2px;
}

.contact-form hr {
    padding-top: 20px;
}

.contact-form textarea {
    width: 100%;
    background: transparent;
    border: 1px solid #F2E4D8;
    border-radius: 2px;
    color: #514438;
}

::placeholder {
    color: #514438;
}

 
#footer-contact {
    margin-top: 0;
}

.thank-you {
    margin-top: 136px;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 9%;
}


/* For larger and medium screens size from 1800px wide and down */

@media screen and (max-width: 1800px) {
     /* gallery */
     #photos  {
        column-count: 2;
    }
}


/* For larger and medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {

    /* main */
    .about {
        height: 400px;
    }

    .about-text p {
        font-size: 160%;
    }

    /* footer */
    .footer-right {
        margin: 0 40px;
    }

    .footer-right i {
        font-size: 200%;
    }

    
    /* thank you */
    .thank-you {
        height: 899px;
        padding-top: 11%;
     }

}



/* For medium screens size from 950px wide and down */
@media screen and (max-width: 950px) {
    /* header */
    header {
        display: block;
    }

    header a {
        width: 100%;
        justify-content: center;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }
    
    

    /* main */

    .about {
        height: 400px;
        display: block;
    }

    #about-image1 {
        background-size: cover;
        margin-top: 60px;
    }

    #about-image2 {
        background-size: cover;
        margin-top: 250px;
    }

    #about-image3 {
        background-size: cover;
        margin-top: 60px;
    }

    .about-image {
        width: 100%;
        height: 400px;
    }

    .about-text {
        width: 100%;
        font-size: small;
    }

    #about-text2 {
        margin-top: 60px;
    }

    #about-text3 {
        margin-top: 300px;
    }

    #our-classes {
        margin-top: 200px;
    }

    /* register-button */
    .register-button {
        margin: 10px auto;
        width: 100%;
    }
    

    /* footer */

    footer {
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-left {
        margin-left: 0;
    }

    .footer-right {
        width: 60%;
        margin: 0;
    }

    /* gallery */
    #photos  {
        column-count: 1;
    }

    /* thank you */
    .thank-you {
        height: 590px;
     }
    
}

/* For medium screens size from 600px wide and down */
@media screen and (max-width: 600px)  {
    /* main */
    #main-text {
        bottom: 30px;
        right: 10px;
    }

    /* about us */
    #about-text3 {
        margin-top: 375px;
    }

    #about-image1 {
        background-size: contain;
    }

    #about-image2 {
        background-size: contain;
        margin-top: 210px;
    }

    #about-image3 {
        background-size: contain;
    }

    /* contact */

    .contact-form {
        left: 0%;
    }


}

/* For medium screens size from 500px wide and down */
@media screen and (max-width: 500px)  {

    /* header */
    #logo {
        padding-left: 0px;
    }

    /* main */

    #main-image {
        animation: none;
    }

    /* about us */

    .about-text {
        font-size: x-small;

    }

    #about-text3 {
        margin-top: 375px;
    }

     /* footer */

     .footer-left {
        padding-left: 10px;
     }

     .thank-you {
        height: 415px;
     }
}