@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #514438;
    background-color: #F2E4D8;
}

/* header style */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #514438;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C4A689;
}

#logo {
    cursor: pointer;
    text-decoration: none;
    padding-left: 20px;
}

nav {
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #514438;
    font-size: 150%;
    font-weight: bold;
}

nav ul li a:hover{
    border-bottom: 1px solid #F2E4D8;
    color:  #F2E4D8;
}

.active {
    border-bottom: 1px solid #514438;
}

/* main style */

#main-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
#main-text, #main-text h2{
    color: #fff;
}

#main-image {
    height: 800px;
    width: 100%;
    background: url("../images/main-image.jpeg") no-repeat center center;
    background-size: cover;

    /* animates zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for the hero image */
@keyframes main-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#main-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding: 40px;

    background-color: rgba(81,68,56, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}


.about {
    display: flex;
    height: 600px;
}

#about-image1 {
    background: url(../images/about-1.jpeg) no-repeat center center;
    background-size: cover;
}

#about-image2 {
    background: url(../images/about-2.jpeg) no-repeat center center;
    background-size: cover;
}

#about-image3 {
    background: url(../images/about-3.jpeg) no-repeat center center;
    background-size: cover;
}

.about-image {
    width: 50%;
}

.about-text {
    background-color: #514438;
    color: #F2E4D8;
    display: flex;
    align-items: center;
    width: 50%;
}

.about-text p {
    padding: 0px 80px;
    text-align: center;
}

#about-us h2 {
    padding: 40px;
    display: flex;
    justify-content: center;
}

#our-classes h2 {
    padding: 40px;
    display: flex;
    justify-content: center;
}