@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #514438;
    background-color: #F2E4D8;
}

/* header style */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #514438;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C4A689;
}

#logo {
    cursor: pointer;
    text-decoration: none;
    padding-left: 20px;

    display: flex;
    align-items: center;
    gap: 10px;
}

#logo img {
    height: 80px;
}

nav {
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #514438;
    font-size: 150%;
    font-weight: bold;
}

nav ul li a:hover {
    border-bottom: 1px solid #F2E4D8;
    color: #F2E4D8;
}

.active {
    border-bottom: 1px solid #514438;
}

/* main style */

#main-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-text,
#main-text h2 {
    color: #fff;
}

#main-image {
    height: 800px;
    width: 100%;
    background: url("../images/main-image.jpeg") no-repeat center center;
    background-size: cover;

    /* animates zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for the hero image */
@keyframes main-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#main-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding: 40px;
    background-color: rgba(81, 68, 56, .7);
    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* about us */

#about-us {
    background-color: #514438;
    padding-bottom: 60px;
}

.about {
    display: flex;
    height: 600px;
}

#about-image1 {
    background: url(../images/about-1.jpeg) no-repeat center center;
    background-size: contain;
}

#about-image2 {
    background: url(../images/about-2.jpeg) no-repeat center center;
    background-size: contain;
}

#about-image3 {
    background: url(../images/about-3.jpeg) no-repeat center center;
    background-size: contain;
}

.about-image {
    width: 50%;
}

.about-text {
    background-color: #514438;
    color: #F2E4D8;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
}

.about-text p {
    padding: 0px 80px;
    text-align: center;
    font-size: 200%;
}

#about-us h2 {
    padding: 40px;
    display: flex;
    justify-content: center;
    color: #F2E4D8;
}

/* our classes */

#our-classes h2 {
    padding: 40px;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    text-align: center;
}

table th {
    background-color: #C4A689;
    border: 1px solid #514438;
    font-size: larger;
}

table td {
    border: 1px solid #514438;
    font-weight: 600;
}

table td a {
    text-decoration: none;
}

.dark {
    background-color: #C4A689;
}

.light {
    background-color: #F2E4D8;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    background-color: #C4A689;
    margin-top: 60px;
}

.footer-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.footer-right i {
    font-size: 220%;
    padding: 1%;
    margin: 5%;
    color: #514438;
}

.footer-left {
    margin-left: 40px;
    text-align: left;
}

.footer-left a {
    text-decoration: none;
}



/* For larger and medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {

    /* main */
    
    .about {
        height: 400px;
    }

    .about-text p {
        font-size: 160%;
    }

    /* footer */
    .footer-right i {
        font-size: 200%;
    }

}



/* For medium screens size from 950px wide and down */
@media screen and (max-width: 950px) {

    /* main */

    .about {
        height: 400px;
        display: block;
    }

    #about-image1 {
        background-size: cover;
        margin-top: 60px;
    }

    #about-image2 {
        background-size: cover;
        margin-top: 250px;
    }

    #about-image3 {
        background-size: cover;
        margin-top: 60px;
    }

    .about-image {
        width: 100%;
        height: 400px;
    }

    .about-text {
        width: 100%;
    }

    #about-text2 {
        margin-top: 60px;
    }

    #about-text3 {
        margin-top: 250px;
    }

    #our-classes {
        margin-top: 200px;
    }

    /* footer */

    footer {
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-left {
        margin-left: 0;
    }

    .footer-right {
        width: 60%;
        margin-right: 0;
    }
}